body{
    margin: 0;
    color: white;
    font-family: Arial;
    background-color: #E3E7E7;
}
.upperbar{
    background-color: #131820;
    height: 60px;
    display: flex;

}
div{
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    border: 1.5px solid transparent;
    height: 50px;
}
.logo:hover{
    border: 1.5px solid white;
}
.amazon-logo{
    width: 120px;
    height: auto;
    object-fit: contain;  
    position: relative;
    bottom: 7px;
    
    /* object-position: bottom;    */
}
.loc-img{
    display: inline-block;
    margin-top: 10px;
}
.location{
    width: 90px; 
    height: 50px;
    margin: 5px 0px 5px 0px; 
    display: flex; 
    align-items: center;
    border: 1.5px solid transparent;
}
.location:hover{
    border: 1.5px solid white;
}
#cat{
    width: 45px;
    height: 38px;
    padding-left: 5px;
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
}
#search-bar{
    height: 32px;
    margin-left: 0%;
    width: 600px;
}
.search-icon{
    background-color: #F3A946;
    width: 45px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: black ;
    font-size: larger;
}
.lang{
    display: flex;
    width: 55px;
    height: 45px;
    padding: 0px 8px 5px 8px;
    border: 1.5px solid transparent ;

}
.lang:hover{
    border: 1.5px solid white;
}
.drop-down{
    padding-top: 6px;
}
.flag{
    margin-right: 5px;
}
.sign-in{
    padding-top: 10px;
    height: 40px;
    border: 1.5px solid transparent;
}
.sign-in:hover{
    border: 1.5px solid white;
}
.orders{
    padding-left: 10px;
    width: 70px;
    padding-top: 10px;
    height: 40px;
    border: 1.5px solid transparent;
}
.orders:hover{
    border: 1.5px solid white;
}
.lowerbar{
    background-color: #222F3F;
    display: flex;
    justify-content: start;
    height: 40px;
}
.nav-bar2{
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 5px;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 600;
}
.carousel-div{
    width: 819px;
    height: 230px;
    
}
.c-img{
    width: 1349px;
}
.main-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.catalog{
    width: 307px;
    height: 385px;
    background-color: #FEFFFE;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
}
#back-to-top{
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;

    
}
#f-d-1{
    background-color: #485668;
    height: 19px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;

}
#f-d-2{
    height: 400px;
    padding-top: 45px;
    background-color: #222F3F;
    display: flex;
    justify-content: space-evenly;
    align-items:start;
}
#f-d-3{
    height: 68px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #222F3F;
    border-top: 1px solid #3a4553;
    display: flex;
    justify-content: center;
}
.amazon-logo-2{
    width: 100px;
    height: auto;
}
.c-title{
    color: #0f1111;
    font-size: 21px;
    margin-bottom: 10px;
    padding: 0px 20px;
}
.cat-main-div{
    height: 300px;
    width: 267px;

    background-color: white;
    padding: 0px 20px;
}
.box-img-class{
    height: 290px;
    width: 257px;
    object-fit: cover;
}
.see-more-tag{
    font-size: 13px;
    padding-left: 20px;
    text-decoration: none;
}
.navFooterColHead{
    font-size: 16px;
    margin: 6px 0px 14px 0px;
}
.navFooterColsection{
    font-size: 14px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px;
}
